.header {
  background-color: var(--primary-background-color);
  padding: 12px 0;

  @media screen and (min-width: 768px) {
    padding: 20px 0 14px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 8px 0;
  }

  .header-nav {

    @media screen and (max-width: 1199px) {
      display: none;
    }

    .header-nav-list {
      display: flex;
      gap: 28px;

      &__item {

      }

      &__link {
        padding: 25px 0;

        font-weight: 700;
        line-height: 20px;
        color: var(--primary-text-color);
        transition: color 250ms linear;

        &:hover,
        &:focus {
          color: var(--accent-color);
        }
      }
    }
  }

  &-buttons {
  display: flex;
  align-items: center;
  gap: 32px;
  }
  
  &-logo {
    display: inline-block;
    width: 40px;
    height: 37px;

    @media screen and (min-width: 768px) {
      width: 48px;
      height: 44px;
    }

    
    @media screen and (min-width: 1200px) {
      width: 60px;
      height: 65px;
    }
  }

  &-menu {
    width: 32px;
    height: 32px;
    border: 0;
    background-color: transparent;
    transition: transform 300ms linear;

    color: #fff;
      
    &:hover,
    &:focus {
      transform: scale(120%);
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list__item {
  & .header-menu__button {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}